{% extends 'MajesCoreBundle::layout.html.twig' %}

{% block title %}MajesCore - Media list{% endblock %}

{% block content_header '' %}

{% block content %}
    
<div class="container-fluid main-content">

    {{ include(
                'MajesCoreBundle:common:breadcrumbs.html.twig'
            ) }}

    <div class="page-title">
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-container fluid-height">
                <div class="heading">
                    <i class="icon-th-large"></i> {% trans %}%pageSubTitle%{% endtrans %}
                    <a href="{{ path(urls.add) }}" class="btn btn-success-outline pull-right"><i class="icon-plus"></i>{% trans %}Add new{% endtrans %}</a>
                </div>
                <div class="row pricing-table padded">
                    {% set urls = { 'twitter' : urls} %}
                    {% for twitter in datas %}
                        {% include ['MajesSocialBundle:Twitter:app.html.twig'] %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
