{% extends 'MajesCoreBundle::layout.html.twig' %}

{% block title %}MajesCore - Social apps list{% endblock %}

{% block content_header '' %}

{% block content %}
    
<div class="container-fluid main-content">

    {{ include(
                'MajesCoreBundle:common:breadcrumbs.html.twig'
            ) }}

    <div class="page-title">
      <h1>{{pageTitle}}</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-container fluid-height">
                <div class="heading">
                    <i class="icon-th-large"></i> {% trans %}%pageSubTitle%{% endtrans %}
                    {% for key, link in urls.add %}
                        <a href="{{ path(link) }}" class="btn btn-success-outline pull-right"><i class="icon-plus"></i>{% trans %}Add new{% endtrans %}{{key|capitalize}}</a>
                    {% endfor %}
                </div>
                <div class="row pricing-table padded">
                    {% for instagram in instagrams %}
                        {% include ['MajesSocialBundle:Instagram:app.html.twig'] %}
                    {% endfor %}
                    {% for facebook in facebooks %}
                        {% include ['MajesSocialBundle:Facebook:app.html.twig'] %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}