<div class="col-sm-3">
    <div class="widget-container fluid-height list" style="border: 1px solid #007aff;">
        <div class="widget-content padded text-center">
            <h1><i class="icon icon-instagram"></i> Instagram</h1>
            <a class="btn btn-primary btn-block btn-default" href="{{ path(urls.instagram.edit, {'id': instagram.id}) }}"><i class="icon-pencil"></i>Edit</a>
            <a class="btn btn-block btn-default" href="{{ path(urls.instagram.edit, {'id': instagram.id}) }}"><i class="icon-trash"></i>Delete</a> 
        </div>

        <ul>
            <li><span>Client ID : </span><span class="pull-right">{{instagram.clientId}}</span></li>
            <li><span>Client Secret : </span><span class="pull-right">{{instagram.clientSecret}}</span></li>
        </ul>
    </div>
</div>